:root {
    --my-color: #006f3c;
}

.itemWrapper {
    background-color: rgb(216, 220, 224);
    width: 65%;
    height: auto;
    min-height: 65vh;
    max-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    padding: 1px;
    overflow: hidden;
}

.text {
    color: var(--my-color);
}

.customButton {
    background-color: var(--my-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 9px;
    padding: 9px;
    color: white;
    cursor: pointer;
}

.customButton:hover {
    background-color: #035730;
}