* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #F76F6F;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.toggleButtonSidebar {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 12px;
    top: 10px;
    border-radius: 55px;
    background-color: #ecebeb;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 1px;
}

.toggleButtonSidebar:hover {
    background-color: rgb(130, 128, 128);
}

span {
    font-size: 1.4vw;
}