
.content {
    display: flex;
    width: 100%;
}

.contentMenu {
    width: 50%;
    height: 94vh;
}

.headForm {
    display: flex;
    flex-direction: row;
}

.mainMenu {
    width: 97%;
    height: 95%;
    background-color: #ecebeb;
    border-radius: 15px;
    padding: 10px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
}

.describe {
    background-color: #ecebeb;
    width: 125px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.2);
}

.contentOrder {
    width: 50%;
    height: 94vh;
}

.searchInput {
    display: flex;
    height: 31px;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 9px;
    width: 250px;
    transition: 0.3s ease-in-out;
    margin: 0 5px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

.searchInput img {
    width: 21px;
    height: 21px;
    margin-right: 8px;
}

.searchInput input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
}

/* Hiệu ứng khi focus */
.searchInput:focus-within {
    border-color: #007bff;
    /* Đổi màu viền khi nhập */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.buttonIcon {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    display: flex;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.btnType {
    padding: 8px 10px 8px 10px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

.activeType {
    background-color: rgb(55, 55, 206);
    color: #fff;
}

.payment {
    height: 24vh;
    padding: 15px;
    background-color: #aac9ea;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.linePayment {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btnKhachHang {
    padding: 6px; 
    width: 21vh; 
    background-color: #6bdd88;
    color: rgb(48, 47, 47);
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
    margin-right: 15px;
}

.change {
    width: 95px;
    padding-left: 3px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 1.4vw;
}

.customButton {
    display: flex;
    width: 29vh;
    height: 6vh;
    background-color: #5CC467;
    padding: 5px;
    font-weight: 700;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 1px;
    cursor: pointer; /* Con trỏ chuột thành bàn tay khi hover */
    transition: all 0.3s ease-in-out;
}

.btnSearchCustomer {
    /* style={{padding:6, borderRadius: 25, border: 'none'}} */
    padding: 6px;
    border-radius: 25px;
    border: none;
    cursor: pointer; /* Con trỏ chuột thành bàn tay khi hover */
    transition: all 0.2s ease-in-out;
}

/* Hover: đổi màu nền, thêm hiệu ứng scale */
.customButton:hover {
    background-color: #4CAF50; /* Màu tối hơn khi hover */
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 2px; /* Đổ bóng lớn hơn */
}

.btnSearchCustomer:hover {
    background-color: #d5d5d5; /* Màu tối hơn khi hover */
}

/* Khi click giữ nút */
.customButton:active {
    transform: scale(0.95); /* Thu nhỏ lại khi nhấn */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px; /* Giảm bóng */
}

.btnSearchCustomer:active {
    transform: scale(0.85); /* Thu nhỏ lại khi nhấn */
}
