.toggleButton {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 15px;
    border-radius: 55px;
    background-color: #bebebe;
    cursor: pointer;
    border: none;
}

.toggleButton:hover {
    background-color: rgb(130, 128, 128);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.title {
    color: var(--primary);
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contentMenu {
    width: 50%;
    margin: 5px;
}

.headForm {
    display: flex;
    flex-direction: row;
}

.mainMenu {
    width: 100%;
    height: 400px;
    background-color: #d8d7d7;
    border-radius: 15px;
    padding: 10px;
}

.describe {
    background-color: #d8d7d7;
    width: 125px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}

.contentOrder {
    width: 50%;
    margin: 5px;
}

.searchInput {
    display: flex;
    align-items: center; 
    background: #fff; 
    border: 1px solid #ccc;  
    border-radius: 25px;  
    padding: 5px 9px;  
    width: 250px; 
    transition: 0.3s ease-in-out;  
    margin: 0 15px 5px 15px;
}

.searchInput img {
    width: 21px; 
    height: 21px; 
    margin-right: 8px; 
}

.searchInput input {
    border: none; 
    outline: none;
    font-size: 14px;
    width: 100%; 
}

/* Hiệu ứng khi focus */
.searchInput:focus-within {
    border-color: #007bff;  /* Đổi màu viền khi nhập */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.buttonAddOrder {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    display: flex;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.btnType {
    padding: 8px 10px 8px 10px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

.activeType {
    background-color: rgb(55, 55, 206);
    color: #fff;
}